*{
    margin: 0;
    padding: 0;
}
.content{
    display:flex;
    flex-wrap: wrap-reverse;
    background-color: rgb(251, 251, 251);
    padding-left: 300px;
    padding-top: 100px;
    align-content: start;
    
}
.container{
    display: grid;
    grid-template-columns: 200px auto;
    height: 200vh;
}
.navbar{
   display:grid; 
   grid-auto-flow: row;
  margin-left: 2px;
   grid-template-rows: 100px auto;   
}
   .massage{
   padding-top: 800px;
   
   }
 .word{
    
    padding-left: 45px;
   padding-top: 50px;
    
 }
